*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    color: rgb(0, 0, 0);
}

form {
    background-color: rgb(255, 255, 255);
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 15px 20px 10px #9c8f97;
}

fieldset {
    background-color: rgb(255, 255, 255);
    display: block;
    margin-bottom: 25px;
    border: 1px solid #ccc;
}
label {
    background-color: white;
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
    background-color: white;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
input[type="button"] {
    width: 100%;
    padding: 10px;
    background-color: #fb9cd0;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #7fbace;
}